body {
    font-family: 'Times New Roman';
    background-color: #526577;
}

h1 {
    color: black;
    text-align: center;
    font-size: 70px;
}

h2 {
    color: black;
    text-align: center;
    font-size: 20px;
}

.collections-button {
    display: inline-block;
    padding: 20px 50px;
    border-radius: 8px;
    background-color: brown;
}

.collections-button:hover {
    background-color: yellow;
    border-radius: 12px;
}