.mining-title {
    text-align: center;
    margin-top: 80px;

    font-family: Georgia, "Times New Roman", serif;
    font-size: 72px;
    font-weight: bold;
    color: #e8b894;
    -webkit-text-stroke: 2px #2b180e;

    text-shadow:
        2px 2px 0 #9b5934,
        3px 4px 2px rgba(0, 0, 0, 0.4)
}

.mining-page {
    min-height: 100vh;
    background-image: url("../../assets/images/backgrounds/mining1.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mining-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
}

.mining-button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    min-height: 60px;

    background-color: #a3b7c7;
    color: #172b3a;

    border: 2px solid #526b7d;
    border-radius: 15px;

    font-family: Georgia, "Times New Roman", serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: 0.2s ease;
}

.mining-button:hover {
    background-color: #d2e0e9;
    border-color: #263e50;
    border-radius: 20px;
    transform: translateY(-4px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.mining-button:last-child {
    grid-column: 2 / 4;
    justify-self: center;
    width: 220px;
}

.cobblestone-page {
    background-image: url("../../assets/images/collections/mining/blocks/cobblestone1.webp");
}

.gravel-page {
    background-image: url("../../assets/images/collections/mining/blocks/gravel1.webp");
}

.hardStone-page {
    background-image: url("../../assets/images/collections/mining/blocks/hardStone1.webp");
}

.ice-page {
    background-image: url("../../assets/images/collections/mining/blocks/ice1.webp");
}

.mycelium-page {
    background-image: url("../../assets/images/collections/mining/blocks/mycelium1.webp");
}

.obsidian-page {
    background-image: url("../../assets/images/collections/mining/blocks/obsidian1.webp");
}

.redSand-page {
    background-image: url("../../assets/images/collections/mining/blocks/redSand1.webp");
}

.sand-page {
    background-image: url("../../assets/images/collections/mining/blocks/sand1.webp");
}

.glowstone-page {
    background-image: url("../../assets/images/collections/mining/dust/glowstone1.webp");
}

.redstone-page {
    background-image: url("../../assets/images/collections/mining/dust/redstone1.webp");
}

.sulphur-page {
    background-image: url("../../assets/images/collections/mining/dust/sulphur1.webp");
}

.gold-page {
    background-image: url("../../assets/images/collections/mining/ingots/gold1.webp");
}

.iron-page {
    background-image: url("../../assets/images/collections/mining/ingots/ingot1.webp");
}

.coal-page {
    background-image: url("../../assets/images/collections/mining/stones/coal1.webp");
}

.diamond-page {
    background-image: url("../../assets/images/collections/mining/stones/diamond1.webp");
}

.emerald-page {
    background-image: url("../../assets/images/collections/mining/stones/emerald1.webp");
}

.gemstone-page {
    background-image: url("../../assets/images/collections/mining/stones/gemstone1.webp");
}

.lapisLazuli-page {
    background-image: url("../../assets/images/collections/mining/stones/lapisLazuli1.webp");
}

.mithril-page {
    background-image: url("../../assets/images/collections/mining/stones/mithril1.webp");
}

.tungsten-page {
    background-image: url("../../assets/images/collections/mining/stones/tungsten1.webp");
}

.umber-page {
    background-image: url("../../assets/images/collections/mining/stones/umber1.webp");
}